<div class="search" method="post">
    <div class="join">
        <label for="query" class="cue">请输入地点/公交/地铁</label>
        <input type="text" id="query" class="enter" autocomplete="off">
        <input type="button" class="put" value="搜索">
    </div>
    <div class="prompt"></div>
</div>
<!--子导航-->
<div class="home">
    <div class="ico">
        <div>首页</div>
    </div>
    <div class="sign">
        <a href="javascript:;">家</a>
        <span>|</span>
        <a href="javascript:;">公司</a>
    </div>
</div>
<!--子页面-->
<div class="columns">
    <ul class="friendlink">
        <li class="hotel">
            <div class="ico"></div>
            <div class="list">
                <div class="part part-on">酒店<span></span></div>
                <div class="link">
                    <a href="javascript:;">经济</a>
                    <a href="javascript:;">假日</a>
                    <a href="javascript:;">三星</a>
                    <a href="javascript:;">五星</a>
                    <a href="javascript:;">如家</a>
                    <a href="javascript:;">汉庭</a>
                    <a href="javascript:;">7天</a>
                </div>
            </div>
        </li>

        <li class="cate">
            <div class="ico"></div>
            <div class="list">
                <div class="part part-on">餐饮<span></span></div>
                <div class="link">
                    <a href="javascript:;" class="red">团购</a>
                    <a href="javascript:;">自助</a>
                    <a href="javascript:;">火锅</a>
                    <a href="javascript:;">烧烤</a>
                    <a href="javascript:;">川菜</a>
                    <a href="javascript:;">海鲜</a>
                    <a href="javascript:;">西餐</a>
                </div>
            </div>
        </li>

        <li class="serve">
            <div class="ico"></div>
            <div class="list">
                <div class="part">生活服务</div>
                <div class="link normal">
                    <a href="javascript:;" class="red">景点·门票</a>
                    <a href="javascript:;">酒吧</a>
                    <a href="javascript:;">洗浴</a>
                    <a href="javascript:;">KTV</a>
                    <a href="javascript:;" class="red">电影院·订座</a>
                    <a href="javascript:;">租房</a>
                    <a href="javascript:;">二手房</a>
                    <a href="javascript:;">银行</a>
                    <a href="javascript:;">超市</a>
                    <a href="javascript:;">医院</a>
                    <a href="javascript:;">药店</a>
                    <a href="javascript:;">4S店</a>
                </div>
            </div>
        </li>

        <li class="traffic">
            <div class="ico"></div>
            <div class="list">
                <div class="part">交通出行</div>
                <div class="link normal">
                    <a href="javascript:;">地铁图</a>
                    <a href="javascript:;">公交站</a>
                    <a href="javascript:;">加油站</a>
                    <a href="javascript:;">停车场</a>
                    <a href="javascript:;">火车票代售点</a>
                </div>
            </div>
        </li>
    </ul>
    <div class="mobad"></div>
    <div class="wb">
        <span class="ico"></span>
        <a href="http://weibo.com/sogoumap" target="_blank">搜狗地图</a>
        <span class="sign"></span>
        <span class="pay">加关注</span>
    </div>
    <div class="wx">
        <span class="ico wx-ico"></span>
        <b>微信号：go2map</b>
        <span class="pay wx-pay">加关注</span>
    </div>
    <div class="ts">
        <a href="http://travel315.people.com.cn/" target="_blank">人民网旅游3•15投诉平台</a>
    </div>
</div>
<!--数据渲染页面-->
<div class="infor"></div>

